@font-face {
    font-family: "GeometriaMedium";
    src : 
    url("../fonts/Geometria/geometria_medium.otf");   
}

@font-face {
    font-family: "GeometriaExtraBold";
    src:url("../fonts/Geometria/geometria_extrabold.otf");
}

@font-face {
    font-family: "GeometriaLight";
    src: url("../fonts/Geometria/geometria_light.otf");
}