$white: #ffff;
$black:#0000;
$black2: #2B2422;
$green-text:#82B428;
$green-btn: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
$blue:#2DA3DC;
$grey-text:#2B2422;
$red-btn:linear-gradient(34.66deg, #BC1822 16.88%, #E53322 76%);